* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
 
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.grid-container {
    max-width: 980px;
    margin: auto;
}


header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-category-container {
    width: 100%;
    height: 50px;
    position: relative;
    display: grid;
    background-color: #4760cf;
    top: -50px;
}
header .header-category-container .category {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    margin-right: 50px;
}
header .category a {
    color: white;
}

header .category a:hover {
    color: black
}

.siguiente {
    border: 1px solid #364483;
    padding: 10px 15px;
    font-size: 12px;
    position: relative;
    top: -30px;
    left: 1100px;
}

.siguiente:hover {
    background-color: #364483;
    color: white;
}

.anterior {
    border: 1px solid #364483;
    padding: 10px 15px;
    font-size: 12px;
    position: relative;
    top: -30px;
    left: 180px;
}

.anterior:hover {
    background-color: #364483;
    color: white;
}

.nombre-zap {
    font-size: 30px;
    position: absolute;
    left: 700px;
    top: 250px;
}

.precio-zap {
    font-size: 20px;
    position: absolute;
    left: 700px;
    top: 335px;
}

.talle-zap {
    position: relative;
    left: 700px;
    top: 250px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #364483;
    border-radius: 5px;
}

.talle-zap:hover {
    background-color: #364483;
    color: white;
}

.talle-zap-nom {
    font-size: 20px;
    position: absolute;
    left: 800px;
    top: 430px;
}

.detalle-container .zapatilla img {
    position: relative;
    width: 500px;
    left: 10%;
    top: 10px;
}

.button-comprar {
    border: 2px solid #364483;
    padding: 15px 20px;
    font-size: 15px;
    position: relative;
    left: 770px;
    top: -200px;
}

.button-comprar1 {
    border: 2px solid #364483;
    padding: 15px 20px;
    font-size: 15px;
    position: relative;
    left: 770px;
    top: -55px;
}

.button-comprar1:hover {
    background-color: #364483;
    color: white;
}

.button-comprar:hover {
    background-color: #364483;
    color: white;
}

nav  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    margin-top: 50px;
    background-color: #364483;
    position: relative;
    top: -50px;
}
nav .nav-logo-container {
    margin-left: 50px;
}
nav .nav-logo-container img {
    width: 100px;
    position: relative;
    left: 200px;
}
nav .search-bar input {
    display: flex;
    position: relative;
    top: 35px;
    left: 200px;
    width: 300px;
    height: 30px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5px;
}
nav .profile-link a {
    color: white;
    font-size: 20px;
}

.blog-container {
    width: 80%;
    display:block;
    margin:auto;
    justify-content: center;
}

.blog-container h3 {
    border-bottom: 1px solid #cdd2da;  
    padding: 20px;
    padding-top: 30px;
    text-align: center;
}

.blogs-new-info-container p {
    margin-top: 100px;
    margin-bottom: 35px;
}
.blogs-posts-container {
    padding: 0 50px 40px;
}
.blogs-posts-container h3 {
    border-bottom: 1px solid #cdd2da;  
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button {
    border: 1px solid #364483;
    padding: 10px 15px;
    font-size: 12px;
}

.blogs-button:hover {
    background-color: #364483;
    color: white;
}

.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    position: relative;
    left: 30px;
}
.blogs-posts-container .post-container p {
    margin-bottom: 35px;
}


.blogs-posts-container .post-container img {
    width: 300px;
}

.secound-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
    display: grid;
}

.secound-container .grid-container .post-container {
    display: inline-flex;
    padding-left: 150px;
    max-width: 30%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.secound-container .grid-container .post-container .secound-text {
    display: inline;
    margin-top: 10px;
    margin-left: 5px;
}

.secound-container .grid-container .post-container p {
    font-size: 13px;
}

.secound-container .grid-container .post-container h3 {
    font-size: 15px;
}

.secound-img-container img {
    width: 90px;
    height: auto;
    margin-top: 20px;
}

.blog-img-container img {
    width: 90%;
    height: 600px;
    display:block;
    margin:auto;
}

.blog-container {
    width: 80%;
    display:block;
    margin:auto;
}

.blog-container h3 {
    border-bottom: 1px solid #cdd2da;  
    padding-bottom: 20px;
}

.blog-container h2 {
    font-size: 30px;
}

.blog-container p {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #2c3458;
    border-top: 35px solid #4760cf;
    text-align: center;
}
footer p {
    color: white;
    margin-top: 30px;
}
